<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="styles/home.css" type="text/css">
  </head>
  <body>
    <div class="container">
      <div class="textos">
        <h1>Seja bem-vindo(a) ao meu projeto de Login!</h1>
        <p>Eu desenvolvi este projeto para aprimorar meus conhecimentos em NodeJS. 😉</p>
        <p>Utilizei a biblioteca EJS (Embedded JavaScript Templating) e o framework Express para criar a API.</p>
        <p>O projeto conta com um registro de usuários sincronizado em um banco de dados MongoDB e utiliza criptografia para garantir a segurança das senhas.</p>
        <div class="imagens">
          <img src="https://cdn.discordapp.com/attachments/678254019554050112/1088535593924952225/image.png" class="imagem">
        </div>
        <div class="botoes">
          <a href="/loginPage" class="button">Clique aqui para ir para o sistema.</a>
        </div>
      </div>
    </div>


  </body>
</html>

